body {
    background-color: black;
    text-align: center;
}

.container {
    margin: 50px 100px;
    width: 40%;
    margin: 5% 30%;

}

.header {
    color: white;
    border: solid 1px white;

}

.header:hover {
    cursor: pointer;
    transform: scale(1.08);
    border-color: blue;
    color: green;
}

.tomato {
    background-color: tomato;
    height: 80px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 16px;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
    display: grid;
    margin: 10px 0;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: scale(0);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: scale(1);
    }

    55% {
        animation-timing-function: ease-in;
        transform: scale(0.7);
    }

    72% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    81% {
        animation-timing-function: ease-in;
        transform: scale(0.84);
    }

    89% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    95% {
        animation-timing-function: ease-in;
        transform: scale(0.95);
    }

    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

.tomato:hover {
    filter: drop-shadow(0 0 2em white);
    cursor: pointer;
    background-color: lightpink;
    transform: scale(5);
}

.silver {
    background-color: silver;
    height: 80px;
    padding: 20px;
    border: solid 1px blue;
    border: solid 1px black;
    border-radius: 16px;

}

.silver:hover {
    filter: drop-shadow(0 0 2em red);
}